# Small, local baseline. Benchmark before increasing concurrency.
numAnalysisThreads = 2
numSearchThreadsPerAnalysisThread = 2
nnMaxBatchSize = 8
nnCacheSizePowerOfTwo = 16
nnMutexPoolSizePowerOfTwo = 12
maxVisits = 200
reportAnalysisWinratesAs = BLACK
analysisPVLen = 8
logAllRequests = false
logAllResponses = false
logErrorsAndWarnings = false
logToStderr = false
