# M5 single-instance CPU baseline. The query layer also fixes maxVisits to 64.
numAnalysisThreads = 1
numSearchThreadsPerAnalysisThread = 2
nnMaxBatchSize = 4
nnCacheSizePowerOfTwo = 15
nnMutexPoolSizePowerOfTwo = 12
maxVisits = 64
reportAnalysisWinratesAs = BLACK
analysisPVLen = 8
logAllRequests = false
logAllResponses = false
logErrorsAndWarnings = false
logToStderr = false
logToFile = false
